.DS_Store
python-server_side_rendering/output_1.txt
python-server_side_rendering/output_2.txt
python-server_side_rendering/output_3.txt
python-server_side_rendering/0-main.py
python-server_side_rendering/template.txt
